.page-header
  h1 Quill Editor
.well.bs-component.col-sm-offset-2.col-sm-8
  .form-group(id="full-editor")
    include full_editor

block content
  .col-sm-offset-2.col-sm-8.well.
    The above editor synchronizes your changes with everyone else on the website.
